# VS code config
.vscode
test.sh

#lib/

# Test stuff
test
intern.json
.travis.yml
.nyc_output/
coverage/

docs

versioning.md
whyTS.md

# It wasn't getting used when packaged on npm anyway. Trim the size a bit.
dist/es3
*.json
*.md
lib/
